@tailwind base;
@tailwind components;
@tailwind utilities;





#video{
  border: 5px solid white;
  width: 70vw !important;
  position: relative !important;
  border-radius: 10px;
  overflow: hidden !important;
}

body{
  background-color: black;
  
}

.qr-code-reader {
  background-color: black;
  height: 90vh;
  width: 100vw;  
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.qr-code-reader > section > div{
  display: flex;
  padding-top: 0% !important;
  align-items: center;
  justify-content: center;
  width: 100vw;
  
}



.qr-code-heading{
  color: white;
}

.payment{
  background-color: blackslategrey;
  height: 100vh;
  width: 100vw;  
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pay-input-div{
  display: flex;
  justify-content: center;
  color: white;
  
}

.pay-input{
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  width: 55%;

}


.pay-submit{
  margin-top: 2rem;
 
  color: white;
  background-color: transparent;
  border: none;
  outline: none;
  border:1px solid white;
  padding: 0.5rem 2rem;
} 

.payment-address{
  word-wrap: break-word;
  margin-top: 5rem;
  width: 80%;
  color: white;
  opacity: 0.5;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 0.5; /* Firefox */
}

.tick_rotate{
  animation: tick_spin 1s linear;
}

@keyframes tick_spin {
  0% { transform: rotateY(0deg); }
  20% { transform: rotateY(10deg); }
  80% { transform: rotateY(350deg); }
  100% { transform: rotateY(360deg); }
}
  
